@import "./scss/components/sidebar.scss";
@import "./scss/components/layout.scss";
@import "./scss/app-wrapper.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

/* Globalno za sve elemente ako žele da skroluju */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #2a5298 #ffffff;
}

/* Scrollbar stilovi za WebKit browsere (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #141e30;
}

*::-webkit-scrollbar-thumb {
  background-color: #2a5298;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1f3b70;
}

input {
  padding: 8px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none; /* uklanja default plavi okvir */
  // border: 2px solid #2a5298; /* plavi okvir po tvojoj boji */
  box-shadow: 0 0 8px #193a73; /* dodatni sjaj za fokus */
  background-color: #f0f4ff; /* blaga promena pozadine (opcionalno) */
  transition: all 0.2s ease-in-out;
}

input::placeholder {
  color: white;
}

a {
  text-decoration: none;
}

// Helpers
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mr-16 {
  margin-right: 16px;
}
